/* Google-font-EB Garamond */

.eb-garamond-normal {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Google-font-Poppins */
.poppins-normal {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}


/* header section */
.head {
  max-width: 1170px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  list-style: none;

}

nav li a {
  text-decoration: none;
  color: #707070;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
}

.nav-li {
  display: flex;
  gap: 30px;
}

.nav-btn {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: #B68C5A;
  border: none;
  border-radius: 8px;
  padding: 18px 29px;
}



/* banner-section */
.banner {
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

}

.banner-contact {
  width: 688px;
  text-align: center;
  color: white;
}

.banner-title h1 {
  font-family: EB Garamond;
  font-size: 72px;
  font-weight: 800;
  margin: 0px;
}

.banner-title p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #E7E7E7;
  margin-top: 24px;
}

.banner-input-btn {
  display: flex;
  gap: 24px;
}

.banner-input-btn input {
  padding: 20px 300px 20px 20px;
  border-radius: 8px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #E7E7E7;
  border: none;
}

.banner-input-btn button {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: #B68C5A;
  border: none;
  border-radius: 8px;
  padding: 17px 39px;
}

.legal-are-title {
  text-align: center;
  margin-top: 120px;
}

.legal-are-title h3 {
  font-family: EB Garamond;
  font-size: 40px;
  font-weight: 800;
  color: #414040;
}

.legal-are-title p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #707070;
}

.card-container {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.card {
  width: 384px;
  border: 1px solid rgb(231, 231, 231);
  text-align: center;
  padding: 70px 10px;
}

.card h4 {
  font-family: EB Garamond;
  font-size: 32px;
  font-weight: 800;
  color: #414040;
}

.card p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #707070;
}

.card img {
  margin-top: 35px;
}

.what-our-client-title {
  text-align: center;
  margin-top: 120px;
}

.what-our-client-title h2 {
  font-family: EB Garamond;
  font-size: 40px;
  font-weight: 800;
  color: #414040;
}

.what-our-client-title p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #707070;
}

.what-our-client-banner {
  background-image: url(../images/banner.png);
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

.what-our-client-banner-content {
  width: 900px;
  text-align: center;
  color: white;
}

.what-our-client-banner-content h3 {
  font-family: EB Garamond;
  font-size: 30px;
  font-weight: 800;
}

.what-our-client-banner-content h4 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  margin-top: -20px;
}

.what-our-client-banner-content p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #F3F3F3;
}

.what-our-client-banner img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}







/* mobile responsive */
@media screen and (max-width: 576px) {
  .nav-li {
    display: none;
  }

  nav {
    flex-direction: column;
  }

  .nav-btn {
    margin-top: 30px;
    padding: 20px 100px;
  }

  .banner {
    background-position: center;
  }

  .banner-input-btn {
    display: none;
  }

  .banner-title h1 {
    font-size: 50px;
  }

  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }

}



/* Tablet responsive */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .nav-li {
    gap: 20px;
  }

  .banner {
    background-position: center;
  }

  .banner-title h1 {
    font-size: 50px;
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);

  }

  .card {
    width: 430px;
  }

}