/* Google-font-EB Garamond */

.eb-garamond-normal {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Google-font-Poppins */
.poppins-normal {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}


/* header section */
.head {
  max-width: 1170px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  list-style: none;

}

nav li a {
  text-decoration: none;
  color: #707070;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
}

.nav-li {
  display: flex;
  gap: 30px;
}

.nav-btn {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: #B68C5A;
  border: none;
  border-radius: 8px;
  padding: 18px 29px;
}



/* banner-section */
.banner {
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

}

.banner-contact {
  width: 688px;
  text-align: center;
  color: white;
}

.banner-title h1 {
  font-family: EB Garamond;
  font-size: 72px;
  font-weight: 800;
  margin: 0px;
}

.banner-title p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #E7E7E7;
  margin-top: 24px;
}

.banner-input-btn {
  display: flex;
  gap: 24px;
}

.banner-input-btn input {
  padding: 20px 300px 20px 20px;
  border-radius: 8px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #E7E7E7;
  border: none;
}

.banner-input-btn button {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: #B68C5A;
  border: none;
  border-radius: 8px;
  padding: 17px 39px;
}

/* The legal section */
.legal-are-title {
  text-align: center;
  margin-top: 120px;
}

.legal-are-title h3 {
  font-family: EB Garamond;
  font-size: 40px;
  font-weight: 800;
  color: #414040;
}

.legal-are-title p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #707070;
}

.card-container {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.card {
  width: 384px;
  border: 1px solid rgb(231, 231, 231);
  text-align: center;
  padding: 70px 10px;
}

.card h4 {
  font-family: EB Garamond;
  font-size: 32px;
  font-weight: 800;
  color: #414040;
}

.card p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #707070;
}

.card img {
  margin-top: 35px;
}

.what-our-client-title {
  text-align: center;
  margin-top: 120px;
}

.what-our-client-title h2 {
  font-family: EB Garamond;
  font-size: 40px;
  font-weight: 800;
  color: #414040;
}

.what-our-client-title p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #707070;
}

.what-our-client-banner {
  background-image: url(../images/banner.png);
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

.what-our-client-banner-content {
  width: 900px;
  text-align: center;
  color: white;
}

.what-our-client-banner-content h3 {
  font-family: EB Garamond;
  font-size: 30px;
  font-weight: 800;
}

.what-our-client-banner-content h4 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  margin-top: -20px;
}

.what-our-client-banner-content p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #F3F3F3;
}

.what-our-client-banner img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

/* frequently-section */
.frequently-container {
  display: flex;
  align-items: center;
  gap: 70px;
  margin-top: 64px;
}

.frequently-title {
  text-align: center;
  margin-top: 120px;
}

.frequently-title h2 {
  font-family: EB Garamond;
  font-size: 40px;
  font-weight: 800;
  color: #414040;
}

.frequently-title p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #707070;
}

.frequently-container-left {
  width: 504px;
  height: 579px;
}

.frequently-container-right img {
  width: 570px;
}

.left-1 {
  border-radius: 8px;
  background: rgb(243, 243, 243);
  padding: 20px;
}

.left-1 h3 {
  font-family: EB Garamond;
  font-size: 24px;
  font-weight: 800;
  color: #414040;
}

.left-1 p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #707070;
}

.left-2 {
  border-radius: 8px;
  background: rgb(243, 243, 243);
  padding: 12px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-2 h3 {
  font-family: EB Garamond;
  font-size: 24px;
  font-weight: 800;
  color: #414040;
}


/* contact-us-section */

.contact-us-title {
  text-align: center;
  margin-top: 120px;
}

.contact-us-title h2 {
  font-family: EB Garamond;
  font-size: 40px;
  font-weight: 800;
  color: #414040;
}

.contact-us-title p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #707070;
}


.contact-us-container {
  display: flex;
  gap: 30px;
  margin-top: 64px;
}

.contact-us-left-site {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-us-right-site {
  /* width: 570px; */
  display: grid;
  justify-content: center;

}

.left-site {
  background-color: #F3F3F3;
  width: 285px;
  border: 1px solid rgb(231, 231, 231);
  text-align: center;
  padding: 40px 5px;
}

.left-site h3 {
  font-family: EB Garamond;
  font-size: 24px;
  font-weight: 800;
  color: #414040;
}

.left-site p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #707070;
}

.contact-us-right-site .input-1 {
  padding: 23px 300px 23px 23px;
  margin-bottom: 30px;
  background-color: #F3F3F3;
  border: none;
  border-radius: 8px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #707070;
  /* width: 570px; */
}

.contact-us-right-site .input-2 {
  padding: 23px 300px 113px 23px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  background-color: #F3F3F3;
  border: none;
  margin-bottom: 30px;
  color: #707070;
  border-radius: 8px;
}

.contact-us-btn {
  border-radius: 8px;
  background: rgb(182, 140, 90);
  padding: 21px 207px;
  color: white;
  border: none;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
}




/* mobile responsive */
@media screen and (max-width: 576px) {
  .nav-li {
    display: none;
  }

  nav {
    flex-direction: column;
  }

  .nav-btn {
    margin-top: 30px;
    padding: 20px 100px;
  }

  .banner {
    background-position: center;
  }

  .banner-input-btn {
    display: none;
  }

  .banner-title h1 {
    font-size: 50px;
  }

  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .frequently-container {
    flex-direction: column;
  }

  .frequently-container-left {
    width: 380px;
  }

  .frequently-container-right img {
    width: 400px;
    margin-top: 130px;
  }
  .contact-us-container{
    flex-direction: column;
  }

  .contact-us-left-site{
    grid-template-columns: repeat(1,1fr);
  }
  .left-site{
    width: 100%;
  }
  .contact-us-right-site .input-1{
    padding: 23px 90px;
  }
  .contact-us-right-site .input-2{
    padding: 23px 100px;
    padding: 23px 90px 100px;
  }
  .contact-us-btn{
    padding: 23px ;
  }

}



/* Tablet responsive */
@media screen and (min-width: 576px) and (max-width: 992px) {


  .nav-li {
    gap: 20px;
  }

  .banner {
    background-position: center;
  }

  .banner-title h1 {
    font-size: 50px;
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);

  }

  .card {
    width: 430px;
  }

  .frequently-container-left {
    width: 700px;
  }

  .frequently-container-right img {
    width: 400px;
  }

  .frequently-container {
    gap: 20px;
  }

  .contact-us-container{
    gap: 20px;
  }

  .contact-us-right-site .input-1 {
    padding: 23px 95px;

  }

  .contact-us-right-site .input-2 {
    /* padding: 23px 150px 113px 23px; */
    width: 70px;

  }

  .contact-us-btn {
    padding: 21px 50px;
    width: 390px;

  }
}